<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="username" value="bouchera.amr@gmail.com"/>
		<add key="password" value="Ab15/03/1998/1998"/>
	    <add key="token" value="qNg2LCKx1H4F0LABxn0yZC8D" />
	    <add key="clientId" value="3MVG9t0sl2P.pBypzkiD0_pOUMJjQmp4HUgOCXOLCG8zL6cBWMRWnABGuXmZtQm8i2.ZppSFoY2pQKABICTJW"/>
	    <add key="clientSecret" value="82C7D476E11B7F0BE0E3C9913998D8D4435357DCCBA8D442156807CCB3D2A0D0" />
    
	</appSettings>
</configuration>